<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Novakey</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.novakey</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Novakey</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>TSInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Kana</string>
		<string>Kanji</string>
	</array>
	<key>TSInputMethodConnectionPortName</key>
	<string>Novakey_1_Connection</string>
	<key>ComponentBundleIdentifier</key>
	<string>com.example.novakey</string>
	<key>InputMethodConnectionName</key>
	<string>Novakey_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>NovakeyInputMethodController</string>
	<key>tsInputMethodIconFileKey</key>
	<string>InputMethodIcon</string>
	<key>NSApplicationSupportsSecureRestorableState</key>
	<true/>
</dict>
</plist>